<div ng-controller="DebugCtrl as $ctrl" class="container">
	<div class="row pad-top-lg">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header"><h4>Loader</h4></div>
				<div class="list-group">
					<a class="list-group-item" ng-click="$ctrl.loaderStart('debug1')">$loader.start("debug1")</a>
					<a class="list-group-item" ng-click="$ctrl.loaderStop('debug1')">$loader.stop("debug1")</a>
					<a class="list-group-item" ng-click="$ctrl.loaderStartBackground('debug2')">$loader.startBackground("debug2")</a>
					<a class="list-group-item" ng-click="$ctrl.loaderStop('debug2')">$loader.stop("debug2")</a>
					<a class="list-group-item" ng-click="$ctrl.loaderStart('debug3', false)">$loader.start("debug3", false)</a>
					<a class="list-group-item" ng-click="$ctrl.loaderStop('debug3')">$loader.stop("debug3")</a>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card">
				<div class="card-header"><h4>Notifications</h4></div>
				<div class="list-group">
					<a class="list-group-item" ng-click="$ctrl.$toast.primary('Hello World')">$toast.primary('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.info('Hello World')">$toast.info('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.success('Hello World')">$toast.success('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.warning('Hello World')">$toast.warning('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.error('Hello World')">$toast.error('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.catch()">$toast.catch()</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.catch({error: 'Hello World'})">$toast.catch({error: 'Hello World'})</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.offline(true)">$toast.offline()</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.offline(false)">$toast.offline(false)</a>
				</div>
			</div>
		</div>
	</div>
</div>
