<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>Server data</h2>
					<div class="actions">
						<a ng-click="$ctrl.refresh()"><i class="fa fa-refresh"></i></a>
					</div>
				</div>
				<div class="card-body card-padding">
					<pre>{{$ctrl.live | json}}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>Version info</h2>
				</div>
				<div class="card-body card-padding">
					<pre>{{$ctrl.version | json}}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$config</h2>
				</div>
				<div class="card-body card-padding">
					<pre>{{$ctrl.$config | json}}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$session.data</h2>
				</div>
				<div class="card-body card-padding">
					<pre>{{$ctrl.$session.data | json}}</pre>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$screen</h2>
				</div>
				<div class="card-body card-padding">
					<pre>{{$ctrl.$screen | json}}</pre>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$loader</h2>
				</div>
				<div class="card-body card-padding">
					<a class="list-group-item" ng-click="$ctrl.$loader.start('debug1')">$loader.start("debug1")</a>
					<a class="list-group-item" ng-click="$ctrl.$loader.stop('debug1')">$loader.stop("debug1")</a>
					<a class="list-group-item" ng-click="$ctrl.$loader.startBackground('debug2')">$loader.startBackground("debug2")</a>
					<a class="list-group-item" ng-click="$ctrl.$loader.stop('debug2')">$loader.stop("debug2")</a>
					<a class="list-group-item" ng-click="$ctrl.$loader.start('debug3', false)">$loader.start("debug3", false)</a>
					<a class="list-group-item" ng-click="$ctrl.$loader.stop('debug3')">$loader.stop("debug3")</a>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$toast</h2>
				</div>
				<div class="card-body card-padding">
					<a class="list-group-item" ng-click="$ctrl.$toast.primary('Hello World')">$toast.primary('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.info('Hello World')">$toast.info('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.success('Hello World')">$toast.success('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.warning('Hello World')">$toast.warning('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.error('Hello World')">$toast.error('Hello World')</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.save()">$toast.save()</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.catch()">$toast.catch()</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.progress('debug', 'Thinking...', 25)">$toast.progress('debug', 'Thinking...', 25)</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.progress('debug', 50)">$toast.progress('debug', 50)</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.progress('debug', 100)">$toast.progress('debug', 100)</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.catch({error: 'Hello World'})">$toast.catch({error: 'Hello World'})</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.offline(true)">$toast.offline()</a>
					<a class="list-group-item" ng-click="$ctrl.$toast.offline(false)">$toast.offline(false)</a>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-header ch-alt">
					<h2>$tts</h2>
				</div>
				<div class="card-body card-padding">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-3 control-label">Recommended Voice</label>
							<div class="col-sm-9 form-control-static">{{$ctrl.$tts.recommendedVoice.name}}</div>
						</div>
						<div class="form-group">
							<label class="col-sm-3 control-label">Current Voice</label>
							<div class="col-sm-9">
								<ui-select ng-model="$ctrl.$tts.voice" title="Choose a voice...">
									<ui-select-match placeholder="Select a voice...">{{$select.selected.name}}</ui-select-match>
									<ui-select-choices repeat="voice in $ctrl.$tts.voices | filter:$select.search">
										<div ng-bind-html="voice.name | highlight:$select.search"></div>
									</ui-select-choices>
								</ui-select>
							</div>
						</div>
					</div>
					<div>
						<a class="list-group-item" ng-click="$ctrl.$tts.say('Hello World')">$tts.say('Hello World')</a>
						<a class="list-group-item" ng-click="$ctrl.$tts.say('The quick brown fox jumps over the lazy dog')">$tts.say('The quick brown fox jumps over the lazy dog')</a>
						<a class="list-group-item" ng-click="$ctrl.$tts.say('The wizard quickly jinxed the gnomes before they vaporized')">$tts.say('The wizard quickly jinxed the gnomes before they vaporized')</a>
						<a class="list-group-item" ng-click="$ctrl.$tts.say('Five or six big jet planes zoomed quickly by the new tower')">$tts.say('Five or six big jet planes zoomed quickly by the new tower')</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>
