<!-- Sidebar menu - see $sitemap module in units/sitemap/sitemap.serv.js to update -->
<ul class="main-menu">
	<!-- Level 1 - Main sidebar items -->
	<li ng-repeat="item in $ctrl.$sitemap.map | filter:{show:true} track by item.id" ng-class="item.active ? 'active' : ''">
		<a ng-if="!item.children" href="{{item.href}}">
			<i class="{{item.icon || 'fa fa-fw fa-folder'}}"></i>
			<span class="menu-title"><strong>{{item.title}}</strong></span>
		</a>
		<!-- Level 2 - Sub items per module -->
		<a ng-if="item.children" href="{{item.href}}" data-toggle="collapse" data-target="#sidebar-{{item.id}}">
			<i class="{{item.icon || 'fa fa-fw fa-folder'}}"></i>
			<span class="menu-title"><strong>{{item.title}}</strong></span>
			<i class="arrow"></i>
		</a>
		<ul ng-if="item.children" id="sidebar-{{item.id}}" class="collapse main-menu" ng-class="item.active ? 'in' : ''">
			<li ng-repeat="subItem in item.children | filter:{show:true} track by subItem.id" ng-class="subItem.active ? 'active' : ''">
				<a ng-if="!subItem.children" href="{{subItem.href}}">{{subItem.title}}</a>
				<!-- Level 3 - Sub child items -->
				<a ng-if="subItem.children" href="{{subItem.href}}" data-toggle="collapse" data-target="#sidebar-{{subItem.id}}">
					{{subItem.title}}
					<i class="arrow"></i>
				</a>
				<ul ng-if="item.children" id="sidebar-{{subItem.id}}" class="collapse main-menu" ng-class="subItem.active ? 'in' : ''">
					<li ng-repeat="subSubItem in subItem.children | filter:{show:true} track by subSubItem.id">
						<!-- Level 4 - Exhausive child items - just use a dropdown this time -->
						<div ng-if="subSubItem.children">
							<a class="dropdown-toggle" data-toggle="dropdown">
								{{subSubItem.title}}
								<i class="arrow"></i>
							</a>
							<ul class="dropdown-menu pull-right">
								<li ng-repeat="subSubSubItem in subSubItem.children">
									<a href="{{subSubSubItem.href}}">{{subSubSubItem.title}}</a>
								</li>
							</ul>
						</div>
						<a ng-if="!subSubItem.children" href="{{subSubItem.href}}">{{subSubItem.title}}</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
