<ul class="main-menu">
	<li ng-class="$ctrl.areas[0]=='' && 'active'"><a href="#/"><i class="fa fa-dashboard"></i> Dashboard</a></li>
	<li ng-class="$ctrl.areas[0]=='notifications' && 'active'"><a href="#/notifications"><i class="fa fa-envelope"></i> Notifications</a></li>
	<li ng-class="$ctrl.areas[0]=='users' && 'active'" ng-if="$ctrl.$session.data.isAdmin"><a href="#/users"><i class="fa fa-group"></i> Manage Users</a></li>
	<li ng-class="$ctrl.areas[0]=='showcase' && 'active'" ng-if="$ctrl.$session.data.isRoot"><a href="#/showcase" data-toggle="collapse" data-target="#sidebar-showcase"><i class="fa fa-paint-brush"></i> Doop Material Showcase</a></li>
	<ul id="sidebar-showcase" class="collapse main-menu" ng-class="$ctrl.area=='showcase' && 'in'">
		<li><a href="#/showcase/$config"><i class="fa fa-angle-double-right"></i> $config Service</a></li>
		<li><a href="#/showcase/$loader"><i class="fa fa-angle-double-right"></i> $loader Service</a></li>
		<li><a href="#/showcase/$router"><i class="fa fa-angle-double-right"></i> $router Service</a></li>
		<li><a href="#/showcase/$toast"><i class="fa fa-angle-double-right"></i> $toast Service</a></li>
		<li><a href="#/showcase/animation"><i class="fa fa-angle-double-right"></i> Animation</a></li>
		<li><a href="#/showcase/buttons"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
		<li><a href="#/showcase/cards"><i class="fa fa-angle-double-right"></i> Cards</a></li>
		<li><a href="#/showcase/colors"><i class="fa fa-angle-double-right"></i> Colors</a></li>
		<li><a href="#/showcase/forms"><i class="fa fa-angle-double-right"></i> Form Elements</a></li>
		<li><a href="#/showcase/stats"><i class="fa fa-angle-double-right"></i> Stats</a></li>
		<li><a href="#/showcase/tables"><i class="fa fa-angle-double-right"></i> Tables</a></li>
	</ul>

	<li ng-class="$ctrl.areas[0]=='debug' && 'active'"><a href="#/debug"><i class="fa fa-heartbeat"></i> Debugging</a></li>
</ul>
