<div class="container">
	<div class="block-header">
		<h2>Edit User - {{$ctrl.user.name}}</h2>
		<div class="actions">
		</div>
	</div>
	<form ng-submit="$ctrl.save()" class="card">
		<div class="card-body card-padding form-horizontal">
			<legend>General information</legend>
			<div class="form-group">
				<label class="col-sm-3 control-label">Name</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.name" type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.email" type="email" class="form-control"/>
				</div>
			</div>
			<div ng-if="$ctrl.$session.data.isAdmin" class="form-group">
				<label class="col-sm-3 control-label">Role</label>
				<div class="col-sm-9 select">
					<select ng-model="$ctrl.user.role" class="form-control">
						<option ng-repeat="role in $ctrl.meta.role.enum" value="{{role.id}}">{{role.title}}</option>
					</select>
				</div>
			</div>

			<legend>Password</legend>
			<div class="form-group">
				<label class="col-sm-3 control-label">Change user password</label>
				<div class="col-sm-9">
					<div ng-show="!$ctrl.passwordUnlock">
						<a ng-click="$ctrl.togglePasswordUnlock()" class="btn btn-warning"><i class="fa fa-unlock"></i> Set user password</a>
						<a ng-click="$ctrl.sendResetEmail()" class="btn btn-warning"><i class="fa fa-envelope"></i> Send password reset email</a>
					</div>
					<div ng-show="$ctrl.passwordUnlock" class="input-group">
						<input ng-model="$ctrl.user.password" type="text" class="form-control"/>
						<div class="input-group-addon">
							<a ng-click="$ctrl.passwordGenerate()" class="btn btn-primary" tooltip="Generate a random password"><i class="fa fa-key"></i></a>
						</div>
						<div class="input-group-addon">
							<a ng-click="$ctrl.sendResetEmail()" class="btn btn-primary" tooltip="Send user a password reset email"><i class="fa fa-envelope"></i></a>
						</div>
					</div>
				</div>
			</div>

			<legend>Location Information</legend>
			<div class="form-group">
				<label class="col-sm-3 control-label">Street</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.address.street" type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">City</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.address.city" type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">State</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.address.state" type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Country</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.address.country" type="text" class="form-control"/>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Post code</label>
				<div class="col-sm-9">
					<input ng-model="$ctrl.user.address.postcode" type="text" class="form-control"/>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="pull-right">
				<button type="submit" class="btn btn-success waves-effect"><i class="fa fa-check"></i> Save User</button>
			</div>
		</div>
	</form>
</div>
