<div class="container">
	<div class="block-header">
		<h2>Manage Users</h2>
		<div class="actions">
			<input ng-model="$ctrl.query" class="form-control form-control-sm" type="search" placeholder="Search..." autofocus>
		</div>
	</div>
	<div class="card">
		<div class="card-body">
			<a ng-if="$ctrl.$session.data.isAdmin" class="btn btn-success btn-circle btn-float" tooltip="Invite new user" href="#/admin/users/invite"><i class="fa fa-paper-plane"></i></a>
			<table ng-show="$ctrl.users.length" class="table table-hover">
				<thead>
					<tr>
						<th style="width: 100px">&nbsp;</th>
						<th ng-click="$ctrl.$router.setQuery('sort', 'email')">Email</th>
						<th ng-click="$ctrl.$router.setQuery('sort', 'name')">Name</th>
						<th width="32px"></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="u in found = ($ctrl.users | filter:$ctrl.query) track by u._id">
						<td class="text-center"><a href="#/admin/users/{{u._id}}">
							<i ng-if="u.role=='admin' || u.role=='root'" class="fa fa-lg fa-user-circle" tooltip="User is an admin" tooltip-position="left" tooltip-container="body"></i>
							<i ng-if="u.status=='deleted'" class="fa fa-lg fa-trash-alt" tooltip="User has been deleted" tooltip-position="left" tooltip-container="body"></i>
						</a></td>
						<td><a href="#/admin/users/{{u._id}}">{{u.username == u.email ? u.email : u.email + ' (user: ' + u.username + ')'}}</a></td>
						<td><a href="#/admin/users/{{u._id}}">{{u.name}}</a></td>
						<td class="btn-context">
							<div class="btn-group">
								<a class="btn btn-context dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></a>
								<ul class="dropdown-menu pull-right">
									<li><a ng-click="$ctrl.delete(u._id)"><i class="fa fa-trash-alt"></i> Delete</a></li>
								</ul>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
			<div ng-show="!$ctrl.users.length || !found.length" class="p-10">
				<div class="alert alert-warning">
					No users found matching your search criteria.
				</div>
			</div>
		</div>
	</div>
</div>
