# Private data
config/private.conf.js
cypress.env.json
.cache
.error
.o

# Dynamic data
frontend.doop.vue.js
data/
dist/
node_modules/

# Logs
npm-debug.log*

# Lock files / thumbnails / other OS leftovers
!.gitkeep
~$*
.~lock.*
.DS_Store
.idea
*.swp
tmp
.vscode
