/* Badges are far too large */
.badge {
	padding: 0.3em 0.7em;
}

.badge.badge-primary .digest {
	color: var(--white) !important;
}

a.badge.badge-primary:hover {
	background: var(--main-highlight);
	color: var(--white) !important;
}
