.logo-tagline {
	padding: 5px;
	border-radius: 1rem;
	font-size: 50%;
	margin-bottom: 5px;
	transform: rotate(-54deg);
	display: block;
	position: absolute;
	left: 48px;
	top: 20px;
	line-height: 1rem;
	z-index: 10;
}

#wrapper.enlarged .logo-tagline {
	padding: 2px 5px;
	font-size: 30%;
	left: 38px;
	top: 30px;
}
