.modal-dialog {
	box-shadow: 0 0 15px 1px rgba(50, 50, 50, 0.75);
}

.modal-content {
	border: 0;
}

.modal-header {
	background-color: #222;
	color: var(--white);
	letter-spacing: 0.075em;
	text-transform: uppercase;
	word-spacing: 0.2em;
}

.modal-header > h4 {
	color: var(--white);
	text-align: center;
	width: 100%;
}

/* Support for modal sizes */
.modal .modal-dialog.modal-lg {max-width: 80%}
.modal .modal-dialog.modal-xl {max-width: 95%}

/* Modals should have a drop shadow */
.modal .modal-dialog {
	box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.16);
}

/* Close buttons look weird */
.modal .modal-dialog .close {
	color: var(--white);
	line-height: inherit;
}

.modal .modal-dialog .close:hover {
	background: var(--red);
	color: var(--white);
	opacity: 1;
}

/* Footers should be better spaced */
.modal .modal-dialog .modal-footer {
	justify-content: space-between;
}
