<!-- Modal: Log entry view {{{ -->
<div id="modal-log-entry" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">&times;</a>
				<h4 class="modal-title">Log entry {{$ctrl.logEntry.created | date:'iso'}}</h4>
			</div>
			<div class="modal-body form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Created</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{$ctrl.logEntry.created | date:'iso'}}</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">User</label>
					<div class="col-sm-9">
						<user user="$ctrl.users[$ctrl.logEntry.user]" name="true"></user>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label">Type</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{$ctrl.logEntry.type}}</div>
					</div>
				</div>
				<div ng-if="$ctrl.logEntry.model" class="form-group">
					<label class="col-sm-3 control-label">Model</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{$ctrl.logEntry.model}}</div>
					</div>
				</div>
				<div ng-if="$ctrl.logEntry.docId" class="form-group">
					<label class="col-sm-3 control-label">Document ID</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{$ctrl.logEntry.docId}}</div>
					</div>
				</div>
				<div ng-if="$ctrl.logEntry.content" class="form-group">
					<label class="col-sm-3 control-label">Content</label>
					<div class="col-sm-9">
						<div class="form-control-static">{{$ctrl.logEntry.content}}</div>
					</div>
				</div>
				<div ng-if="$ctrl.logEntry.payload" class="form-group">
					<label class="col-sm-3 control-label">Payload</label>
					<div class="col-sm-9">
						<div class="form-control-static"><pre>{{$ctrl.logEntry.payload | json}}</pre></div>
					</div>
				</div>
				<div ng-if="$ctrl.logEntry.changes" class="form-group">
					<label class="col-sm-3 control-label">Changes</label>
					<div class="col-sm-9">
						<div class="form-control-static"><pre>{{$ctrl.logEntry.changes | json}}</pre></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- }}} -->
<div id="page-title">
	<h1 class="page-header text-overflow">
		Logs
	</h1>
</div>
<ol class="breadcrumb">
	<li><a  href="#/admin">Admin</a></li>
	<li><a  href="#/admin/users">Users</a></li>
</ol>
<div class="container-fluid">
	<div class="panel">
		<table ng-show="$ctrl.logs.length" class="table table-stiped">
			<thead>
				<tr>
					<th>Date / Time</th>
					<th>User</th>
					<th>Entity</th>
					<th>Description</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="log in $ctrl.logs track by log._id">
					<td><a ng-click="$ctrl.viewEntry(log)"><date date="::log.created" format="iso"></date></a></td>
					<td><user ng-if="log.user && $ctrl.users[log.user]" user="$ctrl.users[log.user]"></user></td>
					<td><a ng-click="$ctrl.viewEntry(log)">{{::log.model}}</a></td>
					<td><a ng-click="$ctrl.viewEntry(log)">{{::log.content}}</a></td>
				</tr>
			</tbody>
		</table>
		<div ng-show="!$ctrl.logs.length">
			<div class="alert alert-warning">
				No log entries found matching your search criteria.
			</div>
		</div>
	</div>
</div>