/* mg-form {{{ */
mg-form .form-group {
	margin-bottom: 10px;
}
/* }}} */
/* mg-form-editor {{{ */
/* Hover mask {{{ */
@keyframes mgFormFadeMask { from { opacity: 0.4; } to { opacity: 0.7; } }

mg-form-editor .mgFormEditor-mask-background {
	pointer-events: none;
	position: fixed;
	z-index: 100;
	border-radius: 5px;
	background: #27aacf;
	opacity: 0.4;
	animation: mgFormFadeMask 2s ease 0s infinite none alternate;

	/* Start offscreen */
	left: -10000px;
	top: -10000px;
	width: 0px;
	height: 0px;
}

mg-form-editor .mgFormEditor-mask-verbs {
	position: fixed;
	z-index: 150;
	/* Start offscreen */
	left: -10000px;
	top: -10000px;
	width: 0px;
	height: 0px;
}
/* }}} */

/* Hide when not in editing mode */
mg-form-editor:not(.editing) .mgFormEditor-mask {
	display: none;
}

mg-form-editor > mg-form mg-container > div:hover {
}
/* }}} */
/* mg-table - Alignment of elements within a table {{{ */
mg-table td {
	padding: 0 !important;
}

mg-table td > mg-container > .form-group {
	margin: 0 !important;
}

mg-table td > mg-container > .form-group .col-sm-12 {
	padding: 0 !important;
}

mg-table td > mg-container > .form-group .col-sm-12 .form-control {
	border: none;
}
/* }}} */
/* mg-seperator {{{ */
mg-seperator > hr {
	margin-top: 0px;
	margin-bottom: 10px;
}
/* }}} */
/* mg-signature {{{ */
mg-signature .form-control-static {
	display: block;
	width: 250px;
	height: 50px;
	border: 1px solid #e9e9e9;
	background: #FFF;
}

mg-signature .form-control-static::after {
	content: '';
	display: block;
	position: relative;
	top: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	border-bottom: 1px dashed #e9e9e9;
}
/* }}} */
