/**
* Color scheme variable additions
*/
:root {
	--main: #32a4d5 !important;
	--main-darker: #32a4d5;
	--main-highlight: #9dd5ec;

	/* Misc assistant colors */
	--gray-light: #eeeeee;

	/* Font awsome config */
	--fa-primary-color: #32a4d5;
	--fa-primary-opacity: 1;

	--fa-secondary-color: #9dd5ec;
	--fa-secondary-opacity: 0.8;
}
