<!-- Header Navbar {{{ -->
<header id="header" class="clearfix" data-ma-theme="blue">
	<ul class="h-inner">
		<li class="hi-trigger ma-trigger" data-ma-action="sidebar-open" data-ma-target="#sidebar">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>

		<li class="hi-logo hidden-xs">
			<a href="/">{{::$global.config.title}}</a>
		</li>

		<li class="pull-right">
			<ul class="hi-menu">
				<!-- Notification dropdown {{{ -->
				<li class="dropdown">
					<a data-toggle="dropdown">
						<i class="him-icon fa fa-bell"></i>
						<i class="him-counts">9</i>
					</a>
					<div class="dropdown-menu dropdown-menu-lg pull-right">
						<div class="list-group him-notification">
							<div class="lg-header">
								Notifications

								<ul class="actions">
									<li class="dropdown">
										<a><i class="fa fa-check"></i></a>
									</li>
								</ul>
							</div>
							<div class="lg-body">
								<a class="list-group-item media" href="">
									<div class="pull-left">
										<img class="lgi-img" src="img/demo/profile-pics/1.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="lgi-heading">David Belle</div>
										<small class="lgi-text">Cum sociis natoque penatibus et magnis dis parturient montes</small>
									</div>
								</a>
								<a class="list-group-item media" href="">
									<div class="pull-left">
										<img class="lgi-img" src="img/demo/profile-pics/2.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="lgi-heading">Jonathan Morris</div>
										<small class="lgi-text">Nunc quis diam diamurabitur at dolor elementum, dictum turpis vel</small>
									</div>
								</a>
								<a class="list-group-item media" href="">
									<div class="pull-left">
										<img class="lgi-img" src="img/demo/profile-pics/3.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="lgi-heading">Fredric Mitchell Jr.</div>
										<small class="lgi-text">Phasellus a ante et est ornare accumsan at vel magnauis blandit turpis at augue ultricies</small>
									</div>
								</a>
								<a class="list-group-item media" href="">
									<div class="pull-left">
										<img class="lgi-img" src="img/demo/profile-pics/4.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="lgi-heading">Glenn Jecobs</div>
										<small class="lgi-text">Ut vitae lacus sem ellentesque maximus, nunc sit amet varius dignissim, dui est consectetur neque</small>
									</div>
								</a>
								<a class="list-group-item media" href="">
									<div class="pull-left">
										<img class="lgi-img" src="img/demo/profile-pics/4.jpg" alt="">
									</div>
									<div class="media-body">
										<div class="lgi-heading">Bill Phillips</div>
										<small class="lgi-text">Proin laoreet commodo eros id faucibus. Donec ligula quam, imperdiet vel ante placerat</small>
									</div>
								</a>
							</div>

							<a class="view-more" href="">View Previous</a>
						</div>
					</div>
				</li>
				<!-- }}} -->
			</ul>
		</li>
	</ul>
</header>
<!-- }}} -->

<!-- Content area -->
<section id="main">
	<aside id="sidebar" class="sidebar">
		<!-- Upper sidebar user profile tools {{{ -->
		<div class="s-profile">
			<a data-toggle="collapse" data-target="#profile-links">
				<div class="sp-pic">
					<img gravatar-src="$global.session.data.email" gravatar-size="50" gravatar-default="identicon" class="img-circle img-user media-object">
				</div>

				<div class="sp-info">
					{{$global.session.data.name}}

					<i class="fa fa-caret-down"></i>
				</div>
			</a>

			<ul id="profile-links" class="collapse">
				<li><a href="#/profile"><i class="fa fa-user"></i> Your Profile</a></li>
				<li><a href="#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>
		</div>
		<!-- }}} -->

		<!-- Sidebar menu {{{ -->
		<ul ng-controller="SidebarCtrl as sidebar" class="main-menu">
			<li ng-class="sidebar.area == 'dashboard' && 'active'"><a href="#/" class="waves-effect"><i class="fa fa-dashboard"></i> Dashboard</a></li>
			<li ng-class="sidebar.area=='users' && 'active'" ng-if="$global.session.data.isAdmin"><a href="#/users" class="waves-effect"><i class="fa fa-group"></i> Manage Users</a></li>
			<li ng-class="sidebar.area=='showcase' && 'active'" ng-if="$global.session.data.isRoot"><a href="#/showcase" class="waves-effect" data-toggle="collapse" data-target="#sidebar-showcase"><i class="fa fa-paint-brush"></i> Doop Material Showcase</a></li>
			<ul id="sidebar-showcase" class="collapse main-menu">
				<li><a href="#/showcase/$config"><i class="fa fa-angle-double-right"></i> $config Service</a></li>
				<li><a href="#/showcase/$loader"><i class="fa fa-angle-double-right"></i> $loader Service</a></li>
				<li><a href="#/showcase/$toast"><i class="fa fa-angle-double-right"></i> $toast Service</a></li>
				<li><a href="#/showcase/buttons"><i class="fa fa-angle-double-right"></i> Buttons</a></li>
				<li><a href="#/showcase/cards"><i class="fa fa-angle-double-right"></i> Cards</a></li>
				<li><a href="#/showcase/colors"><i class="fa fa-angle-double-right"></i> Colors</a></li>
				<li><a href="#/showcase/stats"><i class="fa fa-angle-double-right"></i> Stats</a></li>
				<li><a href="#/showcase/tables"><i class="fa fa-angle-double-right"></i> Tables</a></li>
			</ul>
		</ul>

		<!-- }}} -->
	</aside>

	<section id="content">
		<router-view></router-view>
	</section>
</section>
<!-- }}} -->

<!-- Footer {{{ -->
<footer id="footer">
	Copyright &copy; 2016 InsiteOnsite
</footer>
<!-- }}} -->
