<!-- Header Navbar {{{ -->
<header id="header" class="clearfix" data-ma-theme="blue" ng-if="$global.$config.layout.headerNavbar">
	<ul class="h-inner">
		<li class="hi-trigger sidebar-toggle">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>

		<li class="hi-logo hidden-xs">
			<a href="/">{{::$global.config.title}}</a>
		</li>

		<notifications-header-widget></notifications-header-widget>
		<session-header-widget></session-header-widget>
	</ul>
</header>
<!-- }}} -->

<!-- Content area -->
<section id="main">
	<aside id="sidebar" class="sidebar" ng-if="$global.$config.layout.sidebar">
		<sidebar></sidebar>
	</aside>

	<section id="content" class="animated animated-fast" ng-class="{'content-without-sidebar': !$global.$config.layout.sidebar}">
		<prompt-helper></prompt-helper>
		<router-view></router-view>
	</section>
</section>
<!-- }}} -->

<!-- Footer {{{ -->
<footer id="footer" ng-if="$global.$config.layout.footer" ng-class="{'footer-without-sidebar': !$global.$config.layout.sidebar}"></footer>
<!-- }}} -->
