<!-- Header Navbar {{{ -->
<header id="header" class="clearfix" data-ma-theme="blue" ng-if="$global.$config.layout.headerNavbar">
	<ul class="h-inner">
		<li class="hi-trigger sidebar-toggle">
			<div class="line-wrap">
				<div class="line top"></div>
				<div class="line center"></div>
				<div class="line bottom"></div>
			</div>
		</li>

		<li class="hi-logo hidden-xs">
			<a href="/">{{::$global.config.title}}</a>
		</li>

		<notifications-header-widget-ctrl></notifications-header-widget-ctrl>
	</ul>
</header>
<!-- }}} -->

<!-- Content area -->
<section id="main">
	<aside id="sidebar" class="sidebar" ng-if="$global.$config.layout.sidebar">
		<!-- Upper sidebar user profile tools {{{ -->
		<div ng-if="$global.$session.isLoggedIn" class="s-profile">
			<a data-toggle="collapse" data-target="#profile-links">
				<div class="sp-pic">
					<img gravatar-src="$global.$session.data.email" gravatar-size="50" gravatar-default="identicon" class="img-circle img-user media-object">
				</div>

				<div class="sp-info">
					{{$global.$session.data.name}}

					<i class="fa fa-caret-down"></i>
				</div>
			</a>

			<ul id="profile-links" class="collapse">
				<li><a href="#/profile"><i class="fa fa-user"></i> Your Profile</a></li>
				<li><a href="#/logout"><i class="fa fa-sign-out"></i> Logout</a></li>
			</ul>
		</div>
		<div ng-if="!$global.$session.isLoggedIn" class="s-profile">
			<a>
				<div class="sp-pic">
					<img class="img-circle img-user media-object">
				</div>
			</a>
		</div>
		<!-- }}} -->

		<sidebar></sidebar>
	</aside>

	<section id="content" class="animated animated-fast" ng-class="{'content-without-sidebar': !$global.$config.layout.sidebar}">
		<router-view></router-view>
	</section>
</section>
<!-- }}} -->

<!-- Footer {{{ -->
<footer id="footer" ng-if="$global.$config.layout.footer" ng-class="{'footer-without-sidebar': !$global.$config.layout.sidebar}"></footer>
<!-- }}} -->
