<!-- Buttons {{{ -->
<div class="block-header"><h2>Buttons</h2></div>
<div class="card">
	<div class="card-body card-padding">
		<p class="f-500 c-black m-b-20">Bootstrap Color Schemes</p>

		<div>
			<button class="btn btn-default waves-effect">Default</button>
			<button class="btn btn-info waves-effect">Info</button>
			<button class="btn btn-primary waves-effect">Primary</button>
			<button class="btn btn-success waves-effect">Success</button>
			<button class="btn btn-warning waves-effect">Warning</button>
			<button class="btn btn-danger waves-effect">Danger</button>
		</div>

		<br>

		<p class="f-500 c-black m-b-20">Optional Material Design Colors</p>

		<div>
			<button class="btn bgm-cyan waves-effect">Cyan</button>
			<button class="btn bgm-teal waves-effect">Teal</button>
			<button class="btn bgm-amber waves-effect">Amber</button>
			<button class="btn bgm-orange waves-effect">Orange</button>
			<button class="btn bgm-deeporange waves-effect">Deep Orange</button>
			<button class="btn bgm-red waves-effect">Red</button>
			<button class="btn bgm-pink waves-effect">Pink</button>
			<button class="btn bgm-lightblue waves-effect">Light Blue</button>
			<button class="btn bgm-blue waves-effect">Blue</button>
			<button class="btn bgm-indigo waves-effect">Indigo</button>
			<button class="btn bgm-lime waves-effect">Lime</button>
			<button class="btn bgm-lightgreen waves-effect">Light Green</button>
			<button class="btn bgm-green waves-effect">Green</button>
			<button class="btn bgm-purple waves-effect">Purple</button>
			<button class="btn bgm-deeppurple waves-effect">Deep Purple</button>
			<button class="btn bgm-gray waves-effect">Gray</button>
			<button class="btn bgm-bluegray waves-effect">Blue Gray</button>
			<button class="btn bgm-black waves-effect">Black</button>
		</div>

		<br>

		<p class="f-500 c-black m-b-5">Button Sizes</p>

		<div>
			<button class="btn btn-primary btn-lg waves-effect">Large</button>
			<button class="btn btn-primary waves-effect">Default</button>
			<button class="btn btn-primary btn-sm waves-effect">Small</button>
			<button class="btn btn-primary btn-xs waves-effect">Extra Small</button>
		</div>

		<br>

		<p class="f-500 c-black m-b-5">Button Shapes</p>

		<button class="btn btn-default waves-effect"><i class="fa fa-home"></i> Home</button>
		<button class="btn btn-default waves-effect"><i class="fa fa-search"></i> Search</button>
		<button class="btn btn-default waves-effect"><i class="fa fa-ellipsis-v"></i> More</button>
		<button class="btn btn-default waves-effect"><i class="fa fa-arrow-right"></i> Forward</button>
		<button class="btn btn-default waves-effect"><i class="fa fa-arrow-left"></i> Back </button>
		<button class="btn btn-default waves-effect"><i class="fa fa-refresh"></i> Sync </button>
		<button class="btn btn-default waves-effect"><i class="fa fa-check"></i> Check </button>
		<button class="btn btn-default waves-effect"><i class="fa fa-th"></i> Apps </button>

		<br/><br/>

		<button class="btn btn-primary btn-default waves-effect"><i class="fa fa-home"></i></button>
		<button class="btn btn-info btn-default waves-effect"><i class="fa fa-search"></i></button>
		<button class="btn btn-success btn-default waves-effect"><i class="fa fa-ellipsis-v"></i></button>
		<button class="btn btn-warning btn-default waves-effect"><i class="fa fa-arrow-right"></i></button>
		<button class="btn btn-danger btn-default waves-effect"><i class="fa fa-arrow-left"></i></button>
		<button class="btn btn-teal btn-default waves-effect"><i class="fa fa-refresh"></i></button>
		<button class="btn btn-orange btn-default waves-effect"><i class="fa fa-check"></i></button>
		<button class="btn btn-blue btn-default waves-effect"><i class="fa fa-th"></i></button>

		<br/><br/>

		<button class="btn btn-primary btn-default waves-effect waves-circle waves-float"><i class="fa fa-home"></i></button>
		<button class="btn btn-info btn-default waves-effect waves-circle waves-float"><i class="fa fa-search"></i></button>
		<button class="btn btn-success btn-default waves-effect waves-circle waves-float"><i class="fa fa-ellipsis-v"></i></button>
		<button class="btn btn-warning btn-default waves-effect waves-circle waves-float"><i class="fa fa-arrow-right"></i></button>
		<button class="btn btn-danger btn-default waves-effect waves-circle waves-float"><i class="fa fa-arrow-left"></i></button>
		<button class="btn btn-teal btn-default waves-effect waves-circle waves-float"><i class="fa fa-refresh"></i></button>
		<button class="btn btn-orange btn-default waves-effect waves-circle waves-float"><i class="fa fa-check"></i></button>
		<button class="btn btn-blue btn-default waves-effect waves-circle waves-float"><i class="fa fa-th"></i></button>
	</div>
</div>
<!-- }}} -->

<!-- Cards {{{ -->
<div class="block-header"><h2>Cards</h2></div>
<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header">
				<h2>
					Basic card example
					<small>Optional header subtitle</small>
				</h2>
				<ul class="actions">
					<li class="dropdown">
						<a><i class="fa fa-refresh"></i></a>
						<a data-toggle="dropdown">
							<i class="fa fa-ellipsis-v"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a>Menu Item 1</a></li>
							<li><a>Menu Item 2</a></li>
							<li><a>Menu Item 3</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="card-body card-padding">Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header ch-alt">
				<h2>
					Card with alternative header
					<small>Optional header subtitle</small>
				</h2>
				<ul class="actions">
					<li class="dropdown">
						<a><i class="fa fa-refresh"></i></a>
						<a data-toggle="dropdown">
							<i class="fa fa-ellipsis-v"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a>Menu Item 1</a></li>
							<li><a>Menu Item 2</a></li>
							<li><a>Menu Item 3</a></li>
						</ul>
					</li>
				</ul>
				<button class="btn bgm-lightblue btn-float waves-effect"><i class="fa fa-plus"></i>
			</div>
			<div class="card-body card-padding">Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-header bgm-red">
				<h2>
					Card with red header
					<small>Optional header subtitle</small>
				</h2>
				<ul class="actions">
					<li class="dropdown">
						<a><i class="fa fa-refresh"></i></a>
						<a data-toggle="dropdown">
							<i class="fa fa-ellipsis-v"></i>
						</a>

						<ul class="dropdown-menu dropdown-menu-right">
							<li><a>Menu Item 1</a></li>
							<li><a>Menu Item 2</a></li>
							<li><a>Menu Item 3</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="card-body card-padding">Cras leo sem, egestas a accumsan eget, euismod at nunc. Praesent vel mi blandit, tempus ex gravida, accumsan dui. Sed sed aliquam augue. Nullam vel suscipit purus, eu facilisis ante. Mauris nec commodo felis.</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card">
			<div class="card-body card-padding">Headerless card</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card bgm-blue">
			<div class="card-body card-padding text-white">Headerless card in blue</div>
		</div>
	</div>
</div>
<!-- }}} -->
<!-- Colors {{{ -->
<div class="block-header"><h2>Colors</h2></div>
<div class="row">
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-red">
			<div class="card-body card-padding text-center text-white">
				Red<br/>
				#F44336<br/>
				.bgm-red
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-pink">
			<div class="card-body card-padding text-center text-white">
				Pink<br/>
				#E91E63<br/>
				.bgm-pink
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-purple">
			<div class="card-body card-padding text-center text-white">
				Purple<br/>
				#9C27B0<br/>
				.bgm-purple
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-deeppurple">
			<div class="card-body card-padding text-center text-white">
				Deep Purple<br/>
				#673AB7<br/>
				.bgm-deeppurple
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-indigo">
			<div class="card-body card-padding text-center text-white">
				Indigo<br/>
				#3F51B5<br/>
				.bgm-indigo
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-blue">
			<div class="card-body card-padding text-center text-white">
				Blue<br/>
				#2196F3<br/>
				.bgm-blue
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-lightblue">
			<div class="card-body card-padding text-center text-white">
				Light Blue<br/>
				#03A9F4<br/>
				.bgm-lightblue
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-cyan">
			<div class="card-body card-padding text-center text-white">
				Cyan<br/>
				#00BCD4<br/>
				.bgm-cyan
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-teal">
			<div class="card-body card-padding text-center text-white">
				Teal<br/>
				#009688<br/>
				.bgm-teal
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-green">
			<div class="card-body card-padding text-center text-white">
				Green<br/>
				#4CAF50<br/>
				.bgm-green
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-lightgreen">
			<div class="card-body card-padding text-center text-white">
				Light Green<br/>
				#8BC34A<br/>
				.bgm-lightgreen
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-lime">
			<div class="card-body card-padding text-center text-white">
				Lime<br/>
				#CDDC39<br/>
				.bgm-lime
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-yellow">
			<div class="card-body card-padding text-center text-white">
				Yellow<br/>
				#FFEB3B<br/>
				.bgm-yellow
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-amber">
			<div class="card-body card-padding text-center text-white">
				Amber<br/>
				#FFC107<br/>
				.bgm-amber
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-orange">
			<div class="card-body card-padding text-center text-white">
				Orange<br/>
				#FF9800<br/>
				.bgm-orange
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-deeporange">
			<div class="card-body card-padding text-center text-white">
				Deep Orange<br/>
				#FF5722<br/>
				.bgm-deeporange
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-brown">
			<div class="card-body card-padding text-center text-white">
				Brown<br/>
				#795548<br/>
				.bgm-brown
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-gray">
			<div class="card-body card-padding text-center text-white">
				Gray<br/>
				#9E9E9E<br/>
				.bgm-gray
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-bluegray">
			<div class="card-body card-padding text-center text-white">
				Blue Gray<br/>
				#607D8B<br/>
				.bgm-bluegray
			</div>
		</div>
	</div>
	<div class="col-sm-2 col-xs-6">
		<div class="card bgm-black">
			<div class="card-body card-padding text-center text-white">
				Black<br/>
				#000000<br/>
				.bgm-black
			</div>
		</div>
	</div>
</div>
<!-- }}} -->
<!-- Stats panels {{{ -->
<div class="block-header"><h2>Stats Panels</h2></div>
<div class="mini-charts">
	<div class="row">
		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-lightgreen">
				<div class="clearfix">
					<div class="chart stats-bar"><i class="fa fa-line-chart"></i></div>
					<div class="count">
						<small>Widgets</small>
						<h2>987,459</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-purple">
				<div class="clearfix">
					<div class="chart stats-bar-2"><i class="fa fa-pie-chart"></i></div>
					<div class="count">
						<small>Doofers</small>
						<h2>356,785K</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-orange">
				<div class="clearfix">
					<div class="chart stats-line"><i class="fa fa-bar-chart"></i></div>
					<div class="count">
						<small>Flanges</small>
						<h2>458,778</h2>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3">
			<div class="mini-charts-item bgm-bluegray">
				<div class="clearfix">
					<div class="chart stats-line-2"><i class="fa fa-area-chart"></i></div>
					<div class="count">
						<small>Misc</small>
						<h2>23,856</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- }}} -->

<!-- Loaders + Toasts {{{ -->
<div class="block-header"><h2>Loaders + Toasts</h2></div>
<div class="row pad-top-lg">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header"><h4>Loader</h4></div>
			<div class="list-group">
				<a class="list-group-item" ng-click="$ctrl.loaderStart('debug1')">$loader.start("debug1")</a>
				<a class="list-group-item" ng-click="$ctrl.loaderStop('debug1')">$loader.stop("debug1")</a>
				<a class="list-group-item" ng-click="$ctrl.loaderStartBackground('debug2')">$loader.startBackground("debug2")</a>
				<a class="list-group-item" ng-click="$ctrl.loaderStop('debug2')">$loader.stop("debug2")</a>
				<a class="list-group-item" ng-click="$ctrl.loaderStart('debug3', false)">$loader.start("debug3", false)</a>
				<a class="list-group-item" ng-click="$ctrl.loaderStop('debug3')">$loader.stop("debug3")</a>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header"><h4>Notifications</h4></div>
			<div class="list-group">
				<a class="list-group-item" ng-click="$ctrl.$toast.primary('Hello World')">$toast.primary('Hello World')</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.info('Hello World')">$toast.info('Hello World')</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.success('Hello World')">$toast.success('Hello World')</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.warning('Hello World')">$toast.warning('Hello World')</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.error('Hello World')">$toast.error('Hello World')</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.catch()">$toast.catch()</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.catch({error: 'Hello World'})">$toast.catch({error: 'Hello World'})</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.offline(true)">$toast.offline()</a>
				<a class="list-group-item" ng-click="$ctrl.$toast.offline(false)">$toast.offline(false)</a>
			</div>
		</div>
	</div>
</div>
<!-- }}} -->

<!-- Tables {{{ -->
<div class="block-header"><h2>Tables</h2></div>
<div class="card">
	<div class="card-header">
		<h2>
			Basic table example
			<small>Optional description</small>
		</h2>
		<ul class="actions">
			<li class="dropdown">
				<a><i class="fa fa-refresh"></i></a>
				<a data-toggle="dropdown">
					<i class="fa fa-ellipsis-v"></i>
				</a>

				<ul class="dropdown-menu dropdown-menu-right">
					<li><a>Menu Item 1</a></li>
					<li><a>Menu Item 2</a></li>
					<li><a>Menu Item 3</a></li>
				</ul>
			</li>
		</ul>
	</div>

	<div class="table-responsive">
		<table class="table table-hover">
			<thead>
				<tr>
					<th>#</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Username</th>
					<th>Nickname</th>
				</tr>
			</thead>
			<tbody>
				<!-- Regular rows {{{ -->
				<tr>
					<td>1</td>
					<td>Alexandra</td>
					<td>Christopher</td>
					<td>@makinton</td>
					<td>Ducky</td>
				</tr>
				<tr>
					<td>3</td>
					<td>Sebastian</td>
					<td>Johnston</td>
					<td>@sebastian</td>
					<td>Jaycee</td>
				</tr>
				<tr>
					<td>4</td>
					<td>Mitchell</td>
					<td>Christin</td>
					<td>@mitchell4u</td>
					<td>AdskiDeAnus</td>
				</tr>
				<tr>
					<td>2</td>
					<td>Madeleine</td>
					<td>Hollaway</td>
					<td>@hollway</td>
					<td>Cheese</td>
				</tr>
				<tr>
					<td>5</td>
					<td>Elizabeth</td>
					<td>Belkitt</td>
					<td>@belkitt</td>
					<td>Goat</td>
				</tr>
				<!-- }}} -->

				<!-- Rows with classes {{{ -->
				<tr class="active">
					<td></td>
					<td>.active class</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="info">
					<td></td>
					<td>.info class</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="warning c-white">
					<td></td>
					<td>.warning class</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="success c-white">
					<td></td>
					<td>.success class</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<tr class="danger c-white">
					<td></td>
					<td>.danger class</td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
				<!-- }}} -->
			</tbody>
		</table>
	</div>
</div>
<!-- }}} -->
