/* Prevent any hide animations when the page is still loading {{{ */
/* This is an insane fix and I honestly can't believe its still an issue in angular-animat 1.5.x *
/* See - http://stackoverflow.com/questions/15839479/nganimate-on-ngshow-preventing-animation-when-it-starts-first-time#25562457 */
body.router-routing .animate {
	animation-duration: 0s !important;
}
/* }}} */
/* Effect: fold{Out,In}{Up,Down} {{{ */
@keyframes foldInDown {
	0% { overflow: hidden; }
	100% { overflow: hidden; }
	from { max-height: 1px; margin-bottom: 0px }
	to { max-height: none; margin-bottom: 25px }
}
@keyframes foldOutUp {
	0% { overflow: hidden; }
	100% { overflow: hidden; }
	from { max-height: none; margin-bottom: 25px }
	to { max-height: 1px; margin-bottom: 0px }
}
/* }}} */

.form-group.ng-hide-add-active {animation: foldOutUp .5s ease-in-out, fadeOut .5s ease-in-out }
.form-group.ng-hide-remove-active {animation: foldInDown .5s ease-in-out, fadeIn .5s ease-in-out }

.animate-fade-down.ng-hide-add-active {animation: fadeOutUp 1s ease}
.animate-fade-down.ng-hide-remove-active {animation: fadeInDown 1s ease}

.animate-fade-up.ng-hide-add-active {animation: fadeOutDown 1s ease}
.animate-fade-up.ng-hide-remove-active {animation: fadeInUp 1s ease}
