/**
* Overrides for the default Material Design themes
*/

/* Basic HTML elements {{{ */
/* All <a> elements + ng-click items should act as clickable */
a, [ng-click] {
	cursor: pointer;
}
/* }}} */
/* Angular {{{ */
.ng-cloak, [ng-cloak] {
	display: none !important;
}
/* }}} */
/* Animation {{{ */
.animated-fast {
	animation-duration: 0.5s;
}
/* }}} */
/* Badges {{{ */
/* Material theme doesnt understand .badge-* {{{ */
.badge {border-radius: 10px !important;}
.badge-muted {background-color: #AAA !important;}
.badge-default {background-color: #777 !important;}
.badge-primary {background-color: #3f51b5 !important;}
.badge-success {background-color: #5cb85c !important;}
.badge-info {background-color: #5bc0de !important;}
.badge-warning {background-color: #f0ad4e !important;}
.badge-danger {background-color: #d9534f !important;}
/* }}} */
/* .badge-fill - make a badge act as a filling block {{{ */
.badge.badge-fill {
	display: block;
	width: 100%;
}
/* }}} */
/* }}} */
/* Buttons {{{ */
/* .btn-context - display a dropdown context menu {{{ */
/* See the users list for an example in a table */
table.table td.btn-context {
	padding: 10px 0 !important;
	visibility: hidden;
}

table.table tr:hover td.btn-context {
	visibility: visible;
}

.btn.btn-context {
	width: 30px;
	color: #333;
	padding: 0;
	font-size: 20px;
}
/* }}} */
/* .btn-group {{{ */
.btn-group > .btn {
	margin-bottom: 0 !important;
}
/* }}} */
/* .btn-group-float {{{ */
/* Hide when routing or animating */
body.router-routing .btn-group-float, #content.ng-animate .btn-group-float {
	opacity: 0;
}

.content-without-sidebar {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

.footer-without-sidebar {
	padding-left: 0 !important;
}

.btn-group-float {
	display: block;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 1000;
	opacity: 1;
	transition: opacity 1s;
}

.btn-group-float > .btn {
	padding: 25px 28px;
	border-radius: 100%;
	line-height: 100%;
}
/* }}} */
/* .btn-float {{{ */
.btn.btn-circle.btn-float {
	padding: 10px 15px;
	line-height: 2em !important;
}
/* }}} */
/* .btn-sm {{{ */
.btn.btn-sm {
	font-size: 10px;
}
/* }}} */
/* Button peers are too close together {{{ */
.btn {
	margin-bottom: 5px !important;
}

.btn + .btn {
	margin-left: 5px;
}
/* }}} */
/* }}} */
/* Cards {{{ */
/* .card {{{ */
.card {
	box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.3) !important;
}
/* }}} */
/* .card > img.img-responsive - cards with image headers {{{ */
.card > img.img-responsive {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}
/* }}} */
/* .card-body > .btn-float {{{ */
.card-body > .btn-float {
	right: 10px;
	top: 10px;
}
/* }}} */
/* .card > .card-footer {{{ */
/* Pseudo clearfix */
.card .card-footer:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.card .card-footer {
	clear: both;
	border-top: 1px solid #EEE;
	padding: 20px;
}
/* }}} */
/* }}} */
/* Forms {{{ */
/* .form-control {{{ */
/* Fix the weird dropdown button for the material theme {{{ */
.form-group .select:before {
	top: 10px !important;

	/* font-awesome > chevron-down */
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f078" !important;
}
/* }}} */
/* Fix the weird checkbox symbol {{{ */
.checkbox {
	top: 8px;
}

.checkbox i.input-helper:after {
	top: 1px !important;
	left: 2px !important;

	/* font-awesome > chevron-down */
	font: normal normal normal 14px/1 FontAwesome;
	content: "\f00c" !important;
}
/* }}} */
/* }}} */
/* Checkboxes {{{ */
/* Disable text selection for labels - prevents accidental text selection when rapidly clicking */
.checkbox > label {
	user-select: none;
}
/* }}} */
/* }}} */
/* Images {{{ */
/* Thumbnail sizes {{{ */
/* NOTE: Set the width NOT the max-width as that is used by Bootstrap to ensure the image doesnt go outside the width of the device when in mobile mode */
.img-thumbnail-md {
	width: 300px;
}
/* }}} */
/* }}} */
/* Label {{{ */
/* Label peers are too close together {{{ */
.label + .label {
	margin-left: 5px;
}
/* }}} */
/* }}} */
/* Navbar {{{ */
header .hi-menu .dropdown > .dropdown-menu-offset {
	margin-top: 40px;
}

header .hi-logo .navbar-brand > img {
	filter: invert(1);
	margin-right: 15px;
}

header .hi-logo .navbar-brand {
	font-size: 30px;
	text-transform: none;
}
/* }}} */
/* Scrollbars {{{ */
/* Custom scrollbars {{{ */
::-webkit-scrollbar {
	height: 10px;
	width: 6px;
}

::-webkit-scrollbar-track {
	background: rgba( 0, 0, 0, 0.1 );
}

::-webkit-scrollbar-track-piece {
	margin: 4px;
}

::-webkit-scrollbar-thumb {
	background: rgba( 0, 0, 0, 0.15 );
	border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba( 0, 0, 0, 0.4 );
}
/* }}} */
/* }}} */
/* Tables {{{ */
/* All A links should display as normal text {{{ */
table.table td > a {
	display: block;
	color: #333;
}
/* }}} */
/* Button groups should not show a shadow {{{ */
table.table td > .btn-group {
	box-shadow: none;
}
/* }}} */
/* All text should align to middle by default {{{ */
.table tr>td, .table tr>th, .table tr>td, .table tr>th, .table tr>td, .table tr>th {
	vertical-align: middle !important;
	padding: 10px !important;
}
/* }}} */
/* }}} */
/* Text {{{ */
/* Text colors {{{ */
.text-muted {color: #AAA !important;}
.text-black {color: #4C4C4C !important;}
.text-white {color: #FFF !important;}
/* }}} */
/* Text Sizes {{{ */
.text-xs {font-size: 8pt;}
.text-sm {font-size: 10pt;}
.text-md {font-size: 14pt;}
.text-lg {font-size: 16pt;}
.text-xlg {font-size: 20pt;}
/* }}} */
/* }}} */

/* Page: Login {{{ */
/* This is a really hideous hack to make the login pane cover the entire rest of the screen while its visible */
/* No shame #YOLO - MC 2016-11-02 */
.login-content {
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	z-index: 1000;
}
/* }}} */

/* Theme override: action area with normal buttons {{{ */
ul.actions > li > a.btn {
	width: auto;
}

ul.actions > li > a.btn > i {
	color: #333;
	vertical-align: bottom;
}
/* }}} */
/* Theme override: dashboard icons {{{ */
.chart {
	padding: 12px 0 5px 10px !important;
	width: 100px;
	font-size: 39px;
	text-align: center;
	color: #FFF;
}
/* }}} */
/* Theme override: profile area (top-left of sidebar) {{{ */
.s-profile>a {
	background: url('/theme/profile-menu.png') left top no-repeat !important;
	background-size: 100% 100% !important;
}

#profile-links {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

#profile-links > li > a {
	padding: 14px 20px 14px 65px;
	display: block;
	font-weight: 500;
	position: relative;
	color: #262626;
}

#profile-links > li > a:hover {
	background-color: #f7f7f7;
}

#profile-links > li > a > i {
	position: absolute;
	left: 25px;
	font-size: 18px;
	top: 2px;
	width: 25px;
	text-align: center;
	padding: 13px 0;
}

.main-menu .main-menu {
	margin: 0 !important;
}
/* }}} */
/* Theme override: navbar {{{ */
header .hi-logo > a > img {
	margin-top: -15px;
	margin-right: 10px;
	padding-bottom: 2px;
	width: 50px;
	float: left;
}
/* }}} */
/* Theme override: minicharts {{{ */
.mini-charts {
	padding: 0 10px;
}

.mini-charts .mini-charts-item {
	margin-bottom: 0px;
}
/* }}} */
/* Plugin override: Waves-Effect {{{ */
.btn.waves-circle {
	width: auto;
	height: auto;
}

.waves-table-cell {
	display: table-cell !important;
}
/* }}} */

.panel-body {
	padding: 25px !important;
}

.logo {
	width: 120px;
}